@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Sacramento&display=swap');

body {
    background: repeating-linear-gradient(
        to right,
        #FFE6F2,     
        #FFE6F2 40px,
        #FFF9D5 40px,
        #FFF9D5 80px 
    );
    color: #B7B1F2;
    font-family: Quicksand, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url("images/cursor-main.png"), auto;
}

 


.lace-container {
    position: relative;
    width: 50vw;
    max-width: 600px; 
    height: 80vh; /
    padding: 8vh 5vw;
    background: url("images/oval lace.png") no-repeat center center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: Sacramento, cursive;
    font-size: 5rem;
    color: #FDB7EA;
    text-shadow: 2px 2px 0 #FFDCCC, 4px 4px 0 white;
    margin: 0;
    padding: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}


a {
    display: inline-block;
    background: hwb(336 81% 0%);
    color: #B7B1F2;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    box-shadow: 3px 3px 0 #FDB7EA;
    transition: all 0.3s ease-in-out;
    font-size: 1.2rem;
}


a:hover {
    transform: translateY(-3px);
    box-shadow: 5px 5px 0 #B7B1F2;
    text-shadow: 1px 1px 3px white;
    cursor: url("images/cursor-click.png"), pointer;
    
}

@media (max-width: 768px) {
    .lace-container {
        width: 75vw;
        height: 85vh; 
        padding: 6vh 3vw;
    }
    h1 {
        font-size: 2rem;
    }
}
