body {
    margin: 0;
    padding: 0;
    background-color: black !important;
    color: white;
    font-family: "garamond-premier-pro", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    transform: translateY(10px);
}

.lace-pattern {
    position: absolute;
    width: 115%;
    height: 115%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('images/lace.png') no-repeat center center;
    background-size: contain;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 3s ease-in-out;
    z-index: 1;
}

.impact-word {
    width: 80vw;
    max-width: 3000px;
    height: auto;
    display: block;
    margin: 0 auto;
    position: relative;
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}

.impact-word:hover {
    transform: scale(1.05);
}

.impact-word:hover + .lace-pattern {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
}

.title-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    margin-top: 20px;
    position: relative;
    z-index: 10;
}

.title-link:hover {
    color: red;
    text-decoration: underline;
}

.subtitle {
    font-size: 2vw;
    font-style: italic;
    color: white;
    margin-top: -20px;
    position: relative;
    z-index: 2;
}

.event-details {
    font-size: 1.5vw;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.8;
    position: relative;
    z-index: 2;
}

.event-details p {
    margin: 5px;
}
