body {
    margin: 0;
    padding: 0;
    background-color: black !important;
    color: white;
    font-family: "garamond-premier-pro", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Main Container */
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

/* Lace Pattern*/
.lace-pattern {
    position: absolute;
    width: 130%;  
    height: 130%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('images/lace.png') no-repeat center center; 
    background-size: contain; 
    opacity: 0; 
    transition: opacity 0.s ease-in-out, transform 0.2s ease-in-out;
    z-index: 1;
}


/* Exhibition Title Image */
.impact-word {
    width: 80vw; 
    max-width: 3000px;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
    position: relative;
    z-index: 2;
}

/* Hover Effect - Slightly Scale Up the title */
.impact-word:hover {
    transform: scale(1.05);
}

/* Hover Effect - Show Lace */
.container:hover .lace-pattern {
    opacity: 1; 
    transform: translate(-50%, -50%) scale(80%);
}

/* Subtitle */
.subtitle {
    font-size: 2vw;
    font-style: italic;
    color: white;
    margin-top: -20px;
    position: relative;
    z-index: 2;
}

/* Event Details */
.event-details {
    font-size: 1.5vw;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.8;
    position: relative;
    z-index: 2;
}

/* Ensure spacing remains consistent */
.event-details p {
    margin: 5px;
}
